@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap");
* {
  padding: 0;
  margin: 0;
}

body {
  background-color: aliceblue;
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: blueviolet;
  font-size: large;
  justify-content: center;
  width: 100%;
}

nav {
  width: 80%;
  margin: 0 auto;
}
nav .container-fluid {
  display: flex;
  justify-content: flex-end;
}
nav .container-fluid a {
  text-decoration: none;
  color: aliceblue;
}

.listaBenef {
  list-style-type: none;
}

/*Extend*/
.titulos, .titulo1, .titul2, .titulo3, .titulo4, .titulo5, .titulo6, .titulo7, .titulo8, .titulo9 {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  background: rgb(92, 92, 92);
  background: linear-gradient(90deg, rgb(92, 92, 92) 0%, rgb(134, 134, 134) 18%, rgb(156, 156, 156) 38%, rgb(196, 196, 196) 57%, rgb(214, 214, 214) 77%, rgb(235, 235, 235) 95%);
  letter-spacing: 3px;
  word-spacing: 2px;
  color: aliceblue;
  margin-bottom: 5px;
}

/*Mixin*/
.my_mixin {
  height: 600px;
  width: 80%;
  border: 5px solid black;
  color: black;
  text-align: center;
  display: inline-block;
  margin-bottom: 10px;
}

header {
  background-color: blueviolet;
  font-size: large;
  justify-content: center;
  width: 100%;
}
@media (min-width: 600px) {
  header {
    background-color: #911941;
  }
}

footer {
  font-family: "Roboto", sans-serif;
  background-color: blueviolet;
  font-size: 12px;
  color: aliceblue;
  text-align: center;
  font-weight: lighter;
  letter-spacing: 2px;
  word-spacing: 6px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 10px;
  padding-left: 10px;
  height: 100%;
  left: 0;
  width: 100%;
}
@media (min-width: 600px) {
  footer {
    background-color: #911941;
  }
}

@media (min-width: 768px) {
  .primerTitulo {
    grid-area: primerTitulo;
    padding-bottom: 5px;
    width: 100%;
  }
  .parrafo2 {
    grid-area: parrafo2;
  }
  .parrafo3 {
    grid-area: parrafo3;
  }
  .titulo2 {
    grid-area: titulo2;
  }
  footer {
    grid-area: footer;
  }
  .gridsIndex {
    display: grid;
    margin: 0;
    grid-template-areas: "primerTitulo   primerTitulo" "parrafo2       parrafo3" "titulo2        titulo2" "footer         footer";
    gap: 3px;
  }
  .parr3 {
    line-height: 50px;
  }
  .gridsFotos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    font-family: "Poppins", sans-serif;
    font-size: 4px;
    text-transform: uppercase;
    font-weight: lighter;
    background-color: aliceblue;
  }
  .gridsFotos img {
    width: 200px;
    height: 200px;
  }
  footer {
    margin-top: 0;
  }
  .primerTitulo, .parrafo2, .parrafo3 {
    border: 4px solid black;
  }
}
@media (min-width: 1024px) {
  .bkc {
    background-color: #911941;
  }
  .gridsFotos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    font-family: "Poppins", sans-serif;
    font-size: 4px;
    text-transform: uppercase;
    font-weight: lighter;
    background-color: aliceblue;
  }
  .gridsFotos img {
    width: 250px;
    height: 250px;
  }
  footer {
    margin-top: 0;
  }
  .parr3 {
    line-height: 50px;
  }
}
.box1, .box2 {
  transition-property: all;
  transition-duration: 2s;
  margin-top: 10px;
  margin-bottom: 10px;
}

.box1:hover, .box2:hover {
  transform: scale(1.5);
}

.animacion1:hover {
  -webkit-animation: rotacion 2s;
          animation: rotacion 2s;
}

@-webkit-keyframes rotacion {
  1% {
    transform: rotate(360deg);
  }
}

@keyframes rotacion {
  1% {
    transform: rotate(360deg);
  }
}
a img {
  width: 200px;
  height: 100px;
  max-width: 100%;
}

main p {
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  font-weight: lighter;
  text-align: center;
  background-color: aliceblue;
  letter-spacing: 3px;
  word-spacing: 8px;
  color: black;
  line-height: 30px;
  padding-top: 10px;
  padding-bottom: 8px;
}

section p {
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  font-weight: lighter;
  text-align: center;
  background-color: aliceblue;
  letter-spacing: 3px;
  word-spacing: 8px;
  color: black;
  line-height: 30px;
  padding-top: 10px;
  padding-bottom: 15px;
}

footer p {
  margin: 0px;
}

.footerImg {
  display: flex;
  justify-content: center;
  margin: 5px;
}

.news {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: aliceblue;
}

.gridsIndex {
  display: grid;
  margin-bottom: 10px;
  width: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 3px;
}

.gridsFotos {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  font-family: "Poppins", sans-serif;
  font-size: 4px;
  text-transform: uppercase;
  font-weight: lighter;
  background-color: aliceblue;
}

.gridsFotos img {
  border: 4px double black;
  width: 250px;
  height: 250px;
  margin-bottom: 15px;
}/*# sourceMappingURL=style.css.map */